.gamepane {
    -fx-background-color: black;
    -fx-font-family: 'manaspace';
}

.intro {
    -fx-background-color: black;
}

.generic-box {
    -fx-border-color: #606060;
    -fx-border-width: 5;
    -fx-border-radius: 0;
    -fx-background-color: rgba(59, 59, 59, 0.8);
    -fx-border-insets: 5;
    -fx-background-insets: 5;
    -fx-padding: 5;
}

Label {
    -fx-border-style: hidden;
}

.menu-background {
    -fx-background-image: url("../images/1.jpg");
    -fx-background-size: cover;
    -fx-background-color: black;
}

.challenge-background {
    -fx-background-image: url("../images/pixelstars_(by_@anasabdin).gif");
    -fx-background-color: black;
    -fx-background-size: cover;
}

.menu {
    -fx-padding: 10;
}



.bigtitle {
    -fx-fill: yellow;
    
    -fx-font-size: 64px;
    -fx-font-weight: 900;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.title {
    -fx-text-fill: white;
    
    -fx-font-size: 32px;
    -fx-underline: true;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.subtitle {
    -fx-text-fill: grey;

    -fx-font-size: 20px;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.heading {
    -fx-text-fill: white;
    
    -fx-font-size: 20px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.score {
    -fx-text-fill: lime;
    
    -fx-font-size: 36px;
    -fx-text-alignment: center;
}

.level {
    -fx-text-fill: red;
    
    -fx-font-size: 24px;
    -fx-text-alignment: center;
    /*-fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);*/
}

.regularlabel {
    -fx-text-fill: white;
    
    -fx-font-size: 36px;
    -fx-text-alignment: center;
}

.smalllabel{
    -fx-text-fill: white;
    
    -fx-font-size: 24px;
    -fx-text-alignment: center;
}

.hiscore {
    -fx-text-fill: orange;
    
    -fx-font-size: 24px;
    -fx-font-weight: 700;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.lives {
    -fx-text-fill: yellow;
    
    -fx-font-size: 36px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.multiplier {
    -fx-text-fill: white;
    
    -fx-font-size: 36px;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.scores-list {
    -fx-font-size: 20px;
    
    -fx-text-fill: white;
}

.scores-item {
    -fx-font-size: 26px;
    
    -fx-text-fill: white;
}

.score-entry-box {
    -fx-font-size: 24px;
    
    -fx-text-fill: white;
    -fx-padding: 2;
}

.scorer {

}

.my-score {
    -fx-text-fill: yellow;
}

.deadscore {
    -fx-strikethrough: true;
}

.points {
}

.channelList {

}

.channelItem {
    -fx-text-fill: white;
    
    -fx-font-size: 16px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
}
.channelItem.selected {
    -fx-text-fill: yellow;
}

.leaderboard {
    -fx-font-size: 16px;
}

.gameBox {
    -fx-padding: 10;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-border-color: white;
    -fx-border-width: 1;
}

.scroller {
    -fx-background-color: transparent;
}

.scroller .viewport {
    -fx-background-color: transparent;
}

.messages {
    -fx-background-color: transparent;
    -fx-font-size: 12px;
    -fx-text-fill: white;

}

.messages Text {
    -fx-text-fill: white;
}

TextField {
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-text-fill: white;
    -fx-prompt-text-fill: grey;
}

Button {
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 0;
}

.sendButton {
    -fx-text-fill: white;
    -fx-border-color: white;
}

.startButton {
    -fx-text-fill: #00ff66;
    -fx-border-color: #00ff66;
}

.leaveButton {
    -fx-text-fill: #ff0000;
    -fx-border-color: #ff0000;
}

Button .disabled {
    -fx-text-fill: grey;
    -fx-border-color: grey;
}

.menuItem {
    -fx-text-fill: white;
    -fx-border-style: hidden;
    -fx-font-size: 32px;
    -fx-background-color: none;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.menuItem:hover {
    -fx-text-fill: green;
}

.menuItem.selected {
    -fx-text-fill: #7dd50b;
}

.menuItem.selected:hover {
    -fx-text-fill: green;
}

.playerBox {
    -fx-font-size: 14px;
    
}

.playerBox Text {
    -fx-fill: white;
}

.myname {
    -fx-font-weight: 700;
}

.instructions {
    -fx-font-size: 10px;
    
    -fx-fill: white;
}

.titleart {
    -fx-font-family: monospace;
}